services:
  franquicias-api:
    container_name: franquicias-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      JAVA_OPTS: "-Xms128m -Xmx512m"
